<ion-view hide-back-button="true" view-title="Home">
  <ion-content class="padding">
    <div class="padding" style="border: 1px solid orange;">
      <div class="list card">

        <div class="item item-body">
          <img class="full-image" src="img/dummy_video.png">
          <p>

          </p>
          <p>
          <!--  <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>-->
          </p>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
