<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="nav-bar-style">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon color-white" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar  menu-close class="theme-background" style="height: 120px;padding-top: 50px;" ui-sref="app.profile">
      <a class="item item-avatar" style="background-color: transparent!important;border: transparent;">
        <img src="img/dummy_user.png">
        <p class="color-white">Parvindra Singh</p>
        <p class="font-size-10 color-white">parvindra.logics@gmail.com</p>
      </a>
    </ion-header-bar>
    <ion-content style="margin-top: 75px;">
      <ion-list>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPage('home')">
          <i class="icon ion-android-apps font-size-20"></i>
          <span class="font-size-12 color-light-black">Home</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goDashBoard()">
          <i class="icon ion-social-youtube font-size-20"></i>
          <span class="font-size-12 color-light-black">Video</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPages('postquestions')">
          <i class="icon ion-volume-high font-size-20"></i>
          <span class="font-size-12 color-light-black">Audio</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPages('teachers')">
          <i class="icon ion-image font-size-20"></i>
          <span class="font-size-12 color-light-black">Photo</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPage('upload')">
          <i class="icon ion-android-upload font-size-20"></i>
          <span class="font-size-12 color-light-black">Chop/upload</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPage('settings')">
          <i class="icon ion-android-settings font-size-20"></i>
          <span class="font-size-12 color-light-black">Settings</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goDashBoard()">
          <i class="icon ion-ios-help font-size-20"></i>
          <span class="font-size-12 color-light-black">Help</span>
        </a>
        <a menu-close class="item item-icon-left left-menu-item-padding-left menu-icon-color border-transparent" ng-click="goToPage('login')">
          <i class="icon ion-log-out font-size-20"></i>
          <span class="font-size-12 color-light-black">Sign Out</span>
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
