<ion-view hide-back-button="true" view-title="Profile">
  <ion-content class="padding">
    <div class="">
      <div class="row">

        <img class="col profile-img-div" src="img/dummy_user.png" />

        <div class="col col-75 profile-detail-div">

          <p class="profile-name-text">Parvindra</p>
          <p class="profile-gender-text">Male, single</p>
          <p class="profile-country-text">India</p>
          <p class="profile-channel-text">Cannel views &nbsp;</p>
          <p class="profile-country-text">0</p>

        </div>
      </div>
    </div>

    <div class="border-orange-color">

      <div class="profile-video-backgroud">

        <span class="profile-video-text-span">Videos</span>
        <span class="profile-video-icon-span ion-ios-videocam"></span>

      </div>

      <div class="padding">

      <p class="profile-video-inner-p-size" style="margin-top: 5px;">Upload Videos</p>
      <p class="profile-video-inner-p-size">My Videos</p>
      <p class="profile-video-inner-p-size">My Albums</p>
      <p class="profile-video-inner-p-size">My Linked Videos</p>
      <p class="profile-video-inner-p-size">My Favorited Videos</p>
      <p class="profile-video-inner-p-size">My Liked Albums</p>

      </div>


    </div>

    <div class="border-orange-color" style="margin-top: 10px;">

      <div class="profile-video-backgroud">

        <span class="profile-video-text-span">Photos</span>
        <span class="profile-video-icon-span ion-image"></span>

      </div>

      <div class="padding">

        <p class="profile-video-inner-p-size" style="margin-top: 5px;">Upload Photos</p>
        <p class="profile-video-inner-p-size">My Photos</p>
        <p class="profile-video-inner-p-size">My Albums</p>
        <p class="profile-video-inner-p-size">My Linked Photos</p>
        <p class="profile-video-inner-p-size">My Favorited Photos</p>
        <p class="profile-video-inner-p-size">My Liked Albums</p>

      </div>


    </div>

    <div class="border-orange-color" style="margin-top: 10px;">

      <div class="profile-video-backgroud">

        <span class="profile-video-text-span">Audio</span>
        <span class="profile-video-icon-span ion-ios-videocam"></span>

      </div>

      <div class="padding">

        <p class="profile-video-inner-p-size" style="margin-top: 5px;">Upload Audio</p>
        <p class="profile-video-inner-p-size">My Audio</p>
        <p class="profile-video-inner-p-size">My Albums</p>
        <p class="profile-video-inner-p-size">My Linked Audios</p>
        <p class="profile-video-inner-p-size">My Favorited Audios</p>
        <p class="profile-video-inner-p-size">My Liked Albums</p>

      </div>


    </div>

    <div class="padding"></div>

  </ion-content>
</ion-view>
